<!DOCTYPE html> <!-- Define documento HTML5 -->
<!-- xmlns:th sirve para habilitar Thymeleaf -->
<html lang="en" xmlns:th="http://www.thymeleaf.org"> <!-- Activa Thymeleaf y define idioma -->

<head> <!-- Cabecera -->
    <meta charset="UTF-8"> <!-- Soporte caracteres especiales -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Responsive -->
    <title th:text="${title}">Document</title> 
    <!-- th:text reemplaza el contenido del title con la variable 'title' del backend -->
</head>

<body> <!-- Cuerpo de la vista -->
    <h1 th:text="${title}"></h1> 
    <!-- Muestra el título recibido desde el controlador -->
    <ul> <!-- Lista -->
        <li th:text="${user.name}"></li> 
        <!-- Muestra el nombre del objeto user -->
        <li th:text="${user.lastname}"></li> 
        <!-- Muestra el apellido del objeto user -->
        <li th:if="${user.email}" th:text="${user.email}"></li> 
        <!-- Si user.email existe (no null), lo muestra -->
        <li th:if="${user.email == null}" th:text="'No tiene email'"></li> 
        <!-- Si email es null, muestra mensaje -->
    </ul>
    <a th:href="@{/list}">ver listado</a> 
    <!-- th:href genera una URL dinámica hacia /list -->
</body>
</html> <!-- Fin del documento -->