<!DOCTYPE html>
<!-- xmlns:th="http://www.thymeleaf.org" Configuracion para mostrar ese texto -->
 <!-- Para pasar datos a la vista -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}">Document</title>
</head>
<body>
    <h1 th:text="${title}"></h1>
    <ul>
        <li th:text="${user.name}"></li>
        <li th:text="${user.lastname}"></li>
    </ul>
</body>
</html>

<!-- Vista que muestro desde el sistema -->